@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blur {
    backdrop-filter: blur(10px); /* Adjust the blur value as needed */
    background-color: rgba(
      255,
      255,
      255,
      0.260
    ); /* Adjust the background color and opacity as needed */
  }